*{
    background-color: black;
    color: aliceblue;
}
h1{
    
    font-style: italic;
    background-color: #fff;
    color: aqua;
    
}
h2{
    font-weight: bold;
    font-family: sans-serif;
    background-color: rgb(167, 15, 15);
    color: rgb(208, 192, 192);
}
h3{
    color: rgb(228, 194, 194);
}
.main{
    border: 2px dotted white;

}